<head>
  <!--<style>
    .container-fluid {
      background-image: url("../../../assets/Scuola.jpg");
      height:500px;
    }
  </style>-->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<section class="container-fluid">

  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <img src="../../../assets/logo-mobiik.jpg" class="img-responsive center-block" />
        <h2 class="text-center"></h2>
        <div class="login-form">
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Email </label>
            <input type="email" id="inputEmail" [(ngModel)]="User.Username" class="form-control" placeholder="Correo Electrónico" required="" autofocus="" />

          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" [(ngModel)]="User.Password" class="form-control" placeholder="Contraseña" required="">
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="LogIn()">Iniciar Sesión</button>
        </div>

      
      </div>
      <div class="col-md-8 banner-sec">
      </div>
    </div>
  </div>

</section>
<br />
<br />

<br />

<div class="container">
  <div class="row">
    <div>
      <h1>Cursos </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <app-cursos></app-cursos>
    </div>
    
    <div class="col-md-4">
      <div class="container-fluid">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar cursos" aria-label="Search" (keyup.enter)="buscarCursos(BuscarCursos.value)" #BuscarCursos>
          <button (click)="buscarCursos(BuscarCursos.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar Cursos</button>
        </form>
      </div>
      </div>
    
  </div>

</div>







