<div>
  <h1>Cursos <small>Todos...</small></h1>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar cursos" aria-label="Search" (keyup.enter)="buscarCursos(BuscarCursos.value)" #BuscarCursos>
    <button (click)="buscarCursos(BuscarCursos.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar Cursos</button>
  </form>

</div>

<div class="card-columns">
 <div class="col-10"></div>
  <app-curso-tarjeta (cursoSeleccionado)="verCurso( $event )" [curso]="foo" [index]="i" *ngFor="let foo of cursos; let i = index"></app-curso-tarjeta>

</div>
